<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lista1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet1</display-name>
    <servlet-name>HelloServlet1</servlet-name>
    <servlet-class>com.exemplo.web.HelloServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet1</servlet-name>
    <url-pattern>/HelloServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CapturarParametrosDaURL</display-name>
    <servlet-name>CapturarParametrosDaURL</servlet-name>
    <servlet-class>com.exemplo.web.CapturarParametrosDaURL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CapturarParametrosDaURL</servlet-name>
    <url-pattern>/CapturarParametrosDaURL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Formulario</display-name>
    <servlet-name>Formulario</servlet-name>
    <servlet-class>com.exemplo.web.Formulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Formulario</servlet-name>
    <url-pattern>/Formulario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContadorDeAcessos</display-name>
    <servlet-name>ContadorDeAcessos</servlet-name>
    <servlet-class>com.exemplo.web.ContadorDeAcessos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContadorDeAcessos</servlet-name>
    <url-pattern>/ContadorDeAcessos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmazenarNomes</display-name>
    <servlet-name>ArmazenarNomes</servlet-name>
    <servlet-class>com.exemplo.web.ArmazenarNomes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmazenarNomes</servlet-name>
    <url-pattern>/ArmazenarNomes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArmazenarComentarios</display-name>
    <servlet-name>ArmazenarComentarios</servlet-name>
    <servlet-class>com.exemplo.web.ArmazenarComentarios</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArmazenarComentarios</servlet-name>
    <url-pattern>/ArmazenarComentarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContadorDeAcessosPorUsuario</display-name>
    <servlet-name>ContadorDeAcessosPorUsuario</servlet-name>
    <servlet-class>com.exemplo.web.ContadorDeAcessosPorUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContadorDeAcessosPorUsuario</servlet-name>
    <url-pattern>/ContadorDeAcessosPorUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CadastroDeProdutos</display-name>
    <servlet-name>CadastroDeProdutos</servlet-name>
    <servlet-class>com.exemplo.web.CadastroDeProdutos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CadastroDeProdutos</servlet-name>
    <url-pattern>/CadastroDeProdutos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoverNomes</display-name>
    <servlet-name>RemoverNomes</servlet-name>
    <servlet-class>com.exemplo.web.RemoverNomes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoverNomes</servlet-name>
    <url-pattern>/RemoverNomes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListaDeTarefas</display-name>
    <servlet-name>ListaDeTarefas</servlet-name>
    <servlet-class>com.exemplo.web.ListaDeTarefas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListaDeTarefas</servlet-name>
    <url-pattern>/ListaDeTarefas</url-pattern>
  </servlet-mapping>
</web-app>