<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="http://jakarta.ee/xml/ns/jakartaee http://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd https://jakarta.ee/xml/ns/jakartaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="6.0">
  <display-name>Lista2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Redirecionamento</display-name>
    <servlet-name>Redirecionamento</servlet-name>
    <servlet-class>com.atividade.web.Redirecionamento</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirecionamento</servlet-name>
    <url-pattern>/Redirecionamento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespachoFacil1</display-name>
    <servlet-name>DespachoFacil1</servlet-name>
    <servlet-class>com.atividade.web.DespachoFacil1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespachoFacil1</servlet-name>
    <url-pattern>/DespachoFacil1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespachoFacil2</display-name>
    <servlet-name>DespachoFacil2</servlet-name>
    <servlet-class>com.atividade.web.DespachoFacil2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespachoFacil2</servlet-name>
    <url-pattern>/DespachoFacil2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DespachoIntermediario</display-name>
    <servlet-name>DespachoIntermediario</servlet-name>
    <servlet-class>com.atividade.web.DespachoIntermediario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DespachoIntermediario</servlet-name>
    <url-pattern>/DespachoIntermediario</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessoesFacil</display-name>
    <servlet-name>SessoesFacil</servlet-name>
    <servlet-class>com.atividade.web.SessoesFacil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessoesFacil</servlet-name>
    <url-pattern>/SessoesFacil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoockiesFacil1</display-name>
    <servlet-name>CoockiesFacil1</servlet-name>
    <servlet-class>com.atividade.web.CoockiesFacil1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoockiesFacil1</servlet-name>
    <url-pattern>/CoockiesFacil1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoockiesFacil2</display-name>
    <servlet-name>CoockiesFacil2</servlet-name>
    <servlet-class>com.atividade.web.CoockiesFacil2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoockiesFacil2</servlet-name>
    <url-pattern>/CoockiesFacil2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoockiesIntermediario1</display-name>
    <servlet-name>CoockiesIntermediario1</servlet-name>
    <servlet-class>com.atividade.web.CoockiesIntermediario1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoockiesIntermediario1</servlet-name>
    <url-pattern>/CoockiesIntermediario1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoockiesIntermediario2</display-name>
    <servlet-name>CoockiesIntermediario2</servlet-name>
    <servlet-class>com.atividade.web.CoockiesIntermediario2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoockiesIntermediario2</servlet-name>
    <url-pattern>/CoockiesIntermediario2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CoockiesIntermediario3</display-name>
    <servlet-name>CoockiesIntermediario3</servlet-name>
    <servlet-class>com.atividade.web.CoockiesIntermediario3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoockiesIntermediario3</servlet-name>
    <url-pattern>/CoockiesIntermediario3</url-pattern>
  </servlet-mapping>
</web-app>